﻿@page "/game"

@using Microsoft.JSInterop
@using Blazor_Spiel.Shared
@using Newtonsoft.Json;
@inject IJSRuntime JS

<style>
    .input {
        width: 0;
        position: absolute;
        right: 1000em;
    }
</style>

<h3>@title</h3>
<label for="collCheck">Genaue Kollision anzeigen</label>
<input id="collCheck" type="checkbox" @bind="showColl" />

<svg id="field" @ref="field" @onmousedown="MouseDown" @onmousemove="MouseMove" viewBox="0 0 250 100">
    @((MarkupString)c.Field.ToPath(showColl))
    @((MarkupString)c.Player1.ToPath())
    @((MarkupString)c.Player2.ToPath())
    @((MarkupString)c.CurrentPlayer.DisplayPower())
    @foreach (AEntity e in c.Entities)
    {
        @((MarkupString)e.ToPath())
    }
</svg>

<input class="input" type="text" @ref="input" @onkeydown="KeyDown" @onkeydown:preventDefault />
<button @onclick="Click">Start</button>

@*DEBUG*@
<p>
    Spieler 1: @c.Player1
</p>
<p>
    Spieler 2: @c.Player2
</p>

@code {
    #region Klassen für JSON
    public class DOMRect
    {
        [JsonProperty("x")]
        public double X { get; private set; }
        [JsonProperty("y")]
        public double Y { get; private set; }
        [JsonProperty("width")]
        public double Width { get; private set; }
        [JsonProperty("height")]
        public double Height { get; private set; }
        [JsonProperty("top")]
        public double Top { get; private set; }
        [JsonProperty("right")]
        public double Right { get; private set; }
        [JsonProperty("bottom")]
        public double Bottom { get; private set; }
        [JsonProperty("left")]
        public double Left { get; private set; }

        public override string ToString()
        {
            return $"(X: {X}, Y: {Y}, Width: {Width}, Height: {Height}, Top: {Top}, Right: {Right}, Bottom: {Bottom}, Left: {Left}";
        }
    }
    #endregion

    string title = "\"Start\" um Spiel zu starten";
    bool showColl;
    ElementReference field;
    Controller c = new Controller(250, 100);
    ElementReference input;

    protected override async Task OnInitializedAsync()
    {
        c.UIUpdate += (s, e) =>
        {
            StateHasChanged();
        };
        c.OnGameEnd += (s, gr) =>
        {
            switch (gr)
            {
                case EGameResult.Player1Won:
                    title = "Spieler 1 hat gewonnen!";
                    break;
                case EGameResult.Player2Won:
                    title = "Spieler 2 hat gewonnen!";
                    break;
                default:
                    break;
            }
        };
    }


    async Task FocusElementAsync(ElementReference el)
    {
        await JS.InvokeVoidAsync("focusElement", el);
    }


    async Task Click()
    {
        title = "";
        c.Start();
        //Console.WriteLine(await GetPositionAsync(field));
    }

    async Task MouseDown(MouseEventArgs m)
    {
        await FocusElementAsync(input);
    }

    async Task MouseMove(MouseEventArgs m)
    {
        //DOMRect fieldPos = await GetPositionAsync(field);
        //Console.WriteLine($"({m.OffsetX * c.Width / fieldPos.Width}, {m.OffsetY * c.Height / fieldPos.Height})");
    }

    [JSInvokable]
    async Task KeyDownAsync(KeyboardEventArgs k)    //TODO: geht ned :(
    {
        //KeyboardEventArgs k =  JsonConvert.DeserializeObject<KeyboardEventArgs>(await JS.InvokeAsync<string>("getPosition", e));
        Console.WriteLine(k.Code);
    }

    void KeyDown(KeyboardEventArgs k)
    {
        switch (k.Code)
        {
            case "KeyD":
                c.CurrentPlayer.Move(Direction.Right);
                break;
            case "KeyA":
                c.CurrentPlayer.Move(Direction.Left);
                break;
            case "KeyQ":
                c.CurrentPlayer.Aim(1);
                break;
            case "KeyE":
                c.CurrentPlayer.Aim(-1);
                break;
            case "KeyW":
                c.CurrentPlayer.ChangePower(5);
                break;
            case "KeyS":
                c.CurrentPlayer.ChangePower(-5);
                break;
            case "Space":
                c.CurrentPlayer.Fire();
                break;
        }
    }
}
