﻿@using System.IO
@page "/todo"

<h3>Todo (@todos.Count(todo => !todo.IsDone))</h3>

<ul class="list-group mb-2">
    @foreach (var todo in todos)
    {
        <li class="list-group-item">
            <input type="checkbox" @bind="todo.IsDone" @onclick="() => Check(todo)" />
            <input @bind="todo.Title" />
        </li>
    }
</ul>

<h3>Done (@done.Count(todo => todo.IsDone))</h3>

<ul class="list-group mb-2">
    @foreach (var todo in done)
    {
        <li class="list-group-item">
            <input type="checkbox" @bind="todo.IsDone" @onclick="() => Check(todo)" />
            <input @bind="todo.Title" />
            <button @onclick="() => DeleteTodo(todo)">Delete</button>
        </li>
    }
</ul>

<input placeholder="Something todo" @bind="newTodo" />
<button @onclick="AddTodo">Add todo</button>
<button @onclick="SaveList">Save List</button>
<button @onclick="LoadList">Load List</button>

@code {
    private List<TodoItem> todos = new();
    private List<TodoItem> done = new();
    private string newTodo;

    const string listLocation = @"C:\Users\propl\Desktop\_Git\!SEW\4. Klasse\!4chit\todo.list";

    private void AddTodo()
    {
        if (!string.IsNullOrWhiteSpace(newTodo))
        {
            todos.Add(new TodoItem { Title = newTodo });
            newTodo = string.Empty;
        }
    }

    private async void Check(TodoItem caller)
    {
        await Task.Delay(10);
        if (caller.IsDone)
        {
            todos.Remove(caller);
            done.Add(caller);
        }
        else
        {
            done.Remove(caller);
            todos.Add(caller);
        }
        StateHasChanged();
    }

    private void DeleteTodo(TodoItem caller)
    {
        (caller.IsDone ? done : todos).Remove(caller);
    }

    private void SaveList()
    {
        if (todos.Count > 0)
        {
            using (StreamWriter sw = new StreamWriter(listLocation))
            {
                foreach (TodoItem todo in todos)
                {
                    sw.WriteLine(todo);
                }
                if (done.Count > 0)
                {
                    sw.WriteLine("done");
                    foreach (TodoItem todo in done)
                    {
                        sw.WriteLine(todo);
                    }
                }
                sw.Write("end");
                sw.Close();
            }
        }
    }

    private void LoadList()
    {
        if (File.Exists(listLocation))
        {
            using (StreamReader sr = new StreamReader(listLocation))
            {
                string s = sr.ReadLine();
                bool doneList = false;
                while (s != "end")
                {
                    if (s == "done")
                        doneList = true;
                    else
                        (doneList ? done : todos).Add(new TodoItem(s));
                    s = sr.ReadLine();
                }
            }
        }
    }
}