﻿<center id="container"></center>

<script>
    window.RufflePlayer = window.RufflePlayer || {};
    window.addEventListener("load", (event) => {
        const ruffle = window.RufflePlayer.newest();
        const player = ruffle.createPlayer();
        const container = document.getElementById("container");
        container.appendChild(player);
        player.load("/spiel/59593_alien_booya.swf");
    });
</script>
<script src="/spiel/ruffle/ruffle.js"></script>