﻿@page "/clock"
@using Blazor.Extensions
@using Blazor.Extensions.Canvas
@using Blazor.Extensions.Canvas.Canvas2D
@using System.Timers

<h3>Clock</h3>

<a>@debug</a>

<BECanvas Width="300" Height="300" @ref="_canvasRef"></BECanvas>

<input type="checkbox" @onchange="@((e) => { _smooth = (bool)e.Value; _timer.Interval = (_smooth ? 15 : 999); })"/><span>Smooth</span>@*15 ~ 60Hz*@

@code {
    private Canvas2DContext _context;
    protected BECanvasComponent _canvasRef;
    private Timer _timer = new Timer()
    {
        Interval = 999,
        AutoReset = true
    };
    private bool _smooth = false;

    private string debug;

    protected override void OnInitialized()
    {
        _timer.Elapsed += (o, e) => StateHasChanged();
        _timer.Start();
        base.OnInitialized();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        _context = await _canvasRef.CreateCanvas2DAsync();

        const double r = Math.PI / 30;

        if (firstRender)
        {
            await _context.SetFillStyleAsync("#999");
            await _context.ArcAsync(150, 150, 150, 0, 360);
            await _context.FillAsync();

            await _context.SetStrokeStyleAsync("#000");
            for (double i = 0; i < 60; i++)
            {
                if (i % 5 == 0)
                    await _context.MoveToAsync(150 + 130 * Math.Cos(r * i), 150 + 130 * Math.Sin(r * i));
                else
                    await _context.MoveToAsync(150 + 140 * Math.Cos(r * i), 150 + 140 * Math.Sin(r * i));

                await _context.LineToAsync(150 + 150 * Math.Cos(r * i), 150 + 150 * Math.Sin(r * i));
                await _context.StrokeAsync();
            }
        }

        await _context.BeginPathAsync();
        await _context.SetFillStyleAsync("#999");
        await _context.ArcAsync(150, 150, 125, 0, 360);
        await _context.FillAsync();

        double angle = -Math.PI / 2 + r * (DateTime.Now.Hour % 12) * 5 + r * (DateTime.Now.Minute / 60.0) * 5;
        await _context.BeginPathAsync();
        await _context.SetLineCapAsync(LineCap.Round);
        await _context.SetStrokeStyleAsync("#000");
        await _context.SetLineWidthAsync(5);
        await _context.MoveToAsync(150, 150);
        await _context.LineToAsync(150 + 100 * Math.Cos(angle), 150 + 100 * Math.Sin(angle));
        await _context.StrokeAsync();

        angle = -Math.PI / 2 + r * DateTime.Now.Minute + r * (DateTime.Now.Second / 60.0);
        await _context.BeginPathAsync();
        await _context.SetLineWidthAsync(3);
        await _context.MoveToAsync(150, 150);
        await _context.LineToAsync(150 + 120 * Math.Cos(angle), 150 + 120 * Math.Sin(angle));
        await _context.StrokeAsync();

        angle = -Math.PI / 2 + r * DateTime.Now.Second + (_smooth ? r * DateTime.Now.Millisecond / 1000 : 0);
        await _context.BeginPathAsync();
        await _context.SetStrokeStyleAsync("#f00");
        await _context.SetLineWidthAsync(2);
        await _context.MoveToAsync(150, 150);
        await _context.LineToAsync(150 + 120 * Math.Cos(angle), 150 + 120 * Math.Sin(angle));
        await _context.StrokeAsync();

        await _context.BeginPathAsync();
        await _context.SetFillStyleAsync("#000");
        await _context.ArcAsync(150, 150, 10, 0, 360);
        await _context.FillAsync();
    }
}
