@page "/fetchdata"
@page "/fetchdata/{id}"
@inject HttpClient Http

<h1>Subproject</h1>

@if (sub == null)
{
    <p><em>@loadingText</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Institude Id</th>
                <th>Description</th>
                <th>Research</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@sub.Id</td>
                <td>@sub.Institute.Id</td>
                <td>@sub.Description</td>
                <td>@(sub.AppliedResearch + sub.TheoraticalResearch + sub.FocusResearch)</td>
            </tr>
        </tbody>
    </table>
}

@code {
    [Parameter]
    public string Id {get; set;};
    private string loadingText = "Loading...";
    private Subproject sub;

    protected override async Task OnInitializedAsync()
    {
        if (Id == null)
            loadingText = "keine id ausgewaehlt";
        else
            sub = await Http.GetFromJsonAsync<Subproject>("http://127.0.0.1:8082/project/subprojects/3");
    }

    public class Subproject
    {
        public int Id { get; set; }

        public Institute Institute { get; set; }

        public string Description { get; set; }

        public int AppliedResearch { get; set; }

        public int TheoraticalResearch { get; set; }

        public int FocusResearch { get; set; }
    }

    public class Institute
    {
        public int Id { get; set; }

        public string Code { get; set; }

        public string Title { get; set; }

        public string Description { get; set; }
    }
}
